h1{
    text-align: center;
    color: yellow;
    text-decoration: underline;

}
h2{
    color:white;
}
p{
    color: white;
}

body{
    background-image: url("back.jpeg");
    background-size:cover;
}

#subject{
    height:100px;
    width:100px;
    color:white

    
}