/* .box{
    height:450px;
    width: 350px;
    background-color: bisque;
    border:2px solid black;
    margin:50px 0px 0px 300px;
}

.circ{
    
    border: solid black;
    height: 100px;
    width: 100px;
    border-radius: 50px;
    margin: 0px 0px 0px 100px
}

#a{
    margin: 20px 0px 20px 100px;
    background-image: url("logo.png");
    background-size: cover;
    background-position: cover;
}
#b{
    margin: 20px 0px 20px 100px;
    background-image: url("logo.png");
    background-size: cover;
    background-position: cover;
}
#c{
    margin: 20px 0px 20px 100px;
    background-image: url("logo.png");
    background-size: cover;
    background-position: cover;
} */




.circ{
    border:solid black;
    height:100px;
    width:100px;
    border-radius: 50px;
    background-image: url("logo.png");
    background-size: cover;
    background-position: cover;
    
}










/* .navbar{
   background-color: 	#4c3c3c;
    text-align: start;

}
.logo{
    height:100px;
    width:100px;
}
.navbar a{
    margin :0px;
    padding: 0px;
} */